<div id="home">
  <h1 id="tagline">Easily <span id="create">C</span>reate <span id="and">&</span> <span id="manage">M</span>anage a Restaurant Website</h1>

  <a href="/signup" class="button">Try For Free!</a>

  <div id="steps">
    <div id="step1">
      <h2 class="steps">1. Set Address</h2>
      <div class="stepcontent">
        <span>
          Type in your address and your website will automatically have a google map pinpointed at your restaurant
        </span>
      </div>
    </div>

    <div id="step2">
      <h2 class="steps">2. Set Hours</h2>
    </div>

    <div id="step3">
      <h2 class="steps">3. Add Menu</h2>
    </div>

  </div>

</div>