<div id="home">
  <h1 id="tagline">Easily Create & Manage your Restaurant Website</h1>
  <button id="home_signup" href="/signup">Create Website</button>
</div>

<script type="text/javascript">
  url1 = "/signup"
  $('#home_signup').click(function () {
    window.location = url1;
  });
</script>