<div class="row" id="catch">
  <div class="span12">
    <h1 id="headline" style="text-align:center;">Restauranteurs,<br/> Attract more customers!</h1>
    <p>
    <div style="text-align:center;">
      <button onClick="window.open('/signup')" class="btn btn-primary btn-large">Create Website</button>
    </div>
  </div>
</div>

<div id="featured">
  <div class="row">
    <h1 style="text-align:center;">Featured Restaurants</h1>
    <div class="span4">
      <a href="http://www.sugarcider.com/restaurants/3">
        <img style="max-width:100%;" src="<%= image_path('coppola.jpg') %>"/>
      </a>
    </div>
    <div class="span4">
      <a href="http://www.sugarcider.com/restaurants/11">
        <img style="max-width:100%" src="<%= image_path('jose.jpg') %>"/>
      </a>
    </div>
    <div class="span4">
      <a href="http://www.sugarcider.com/restaurants/12">
        <img style="max-width:100%" src="<%= image_path('prestige.jpg') %>"/>
      </a>
    </div>
  </div>

</div>