<div id="home">
  <h1 id="tagline">Easily <span id="create">C</span>reate <span id="and">&</span> <span id="manage">M</span>anage a Restaurant Website</h1>

  <a href="/signup" class="button">Try For Free!</div>

  <div class="steps">
    <div id="step1">

  </div>
</div>