<div id="home">
  <div class="row">
    <div class="grid_12">
      <h1 id="tagline">Easily Create & Manage your Restaurant Website</h1>
    </div>
  </div>
  <div class="row">
    <div class="grid_4 offset_5">
      <a id="home_signup" href="/signup">Create Website</a>
    </div>
  </div>
</div>