<div id="home">
  <div class="row">
    <div class="grid_12">
      <h1 id="tagline">Easily Create & Manage your Restaurant Website</h1>
    </div>
  </div>
  <div class="row">
    <div class="grid_4 offset_5">
      <button id="home_signup" href="/signup">Create Website</button>
    </div>
  </div>
</div>
<script type="text/javascript">
  url1 = "/signup"
  $('#home_signup').click(function () {
    window.location = url1;
  });
</script>