<div class="row">
  <div class="span12">
    <h1 style="text-align:center;">Easily Create & Manage your Restaurant Website</h1>
    <div style="text-align:center;">
      <button href="/signup" class="btn btn-large">Create Website</button>
    </div>
  </div>
</div>

<div id="featured">
  <div class="row">
    <h1 style="text-align:center;">Featured Websites</h1>
    <div class="span4">
      <a href="http://www.sugarcider.com/restaurants/3">
        <img src="http://ctrlq.org/files/screenshots/ed89af397e81b9bd465a2884090526e1.png"/>
      </a>
    </div>
    <div class="span4">
      <a href="http://www.sugarcider.com/restaurants/11">
        <img src="http://ctrlq.org/files/screenshots/ee057c8a66e3973350c2e85decad2f90.png"/>
      </a>
    </div>
    <div class="span4">
      <a href="http://www.sugarcider.com/restaurants/3">
        <img src="http://ctrlq.org/files/screenshots/ed89af397e81b9bd465a2884090526e1.png"/>
      </a>
    </div>
  </div>

</div>
<!-- <script type="text/javascript">
  url1 = "/signup"
  $('#home_signup').click(function () {
    window.location = url1;
  });
</script> -->