<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <li><%= restaurant.description %></li>
  <li><%= button_to 'destroy', restaurant_path(restaurant), :method => :delete, :class => 'destroy', :confirm => 'are you sure?' %></li>
<% end %>
</ul>