// Place all the styles related to the hours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hours_input {
  margin-right: 30px;
}
#submit_hours {
  position:relative;
  top:105px;
  left:-30px;
}