#home
  #tagline
    text-align: center
    font-size: 6em
    line-height: 100px
    color: #242E3D
    margin-bottom: 50px
    font-family: 'Abril Fatface', cursive
    text-shadow: #242E3D 1px 1px 1px
    word-wrap: break-word

  body
    font-family: 'Abril Fatface', cursive

  #and
    font-size: 60px
